:root {
    --primary: #043A53;
    --dark: #12141D;
    --gray: #F2F5F6;
    --white: #ffffff;
    --black: #000000;
    --header-height: 7.69rem;
    --common-width: 90.00rem;
    --yellow: #F0B73F
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: 'Lato';
    margin: 0 !important;
}

.w-common {
    width: var(--common-width);
}

button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer !important;
}

img {
    object-fit: contain;
}

.cursor-pointer {
    cursor: pointer !important;
}

ul {
    list-style: none;
}

a {
    color: none !important;
    color: var(--dark);
    text-decoration: none !important;
}

a:hover {
    color: var(--primary) !important;
}

/* 
    Hero Section
*/

#hero {
    background-color: var(--gray);
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-1 {
    height: 21rem;
    width: 12.38rem;
    position: absolute;
    left: 20%;
}

.hero-2 {
    height: 21rem;
    width: 12.38rem;
    position: absolute;
    right: 20%;
}

.temp-hero-img-wrapper {
    display: none;
    justify-content: center;
}

.temp-hero-imgs {
    display: flex;
    align-items: center;
}

.temp-hero-1 {
    height: 17rem;
    width: 10rem;
}

.temp-hero-2 {
    height: 17rem;
    width: 10rem;
    padding-top: 2rem;
}

#hero .headline {
    font-weight: 800;
    font-size: 4rem;
    color: var(--dark);
    text-align: center;
}

#hero .highlight {
    color: var(--primary);
}

#hero .subheadline {
    color: var(--dark);
    font-weight: 500;
    opacity: 70%;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.hero-btns-wrapper {
    display: flex;
    justify-content: center;
}

.hero-btns-row {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-container {
    display: flex;
    align-items: center;
    padding: 8rem 36rem;
    position: relative;
}

.hero-btn-1 {
    padding: 1rem 1.50rem;
    border-radius: 3.5rem;
    font-weight: 700;
    box-shadow: 0px 23px 47px 0px #043A533D;
    font-size: 1.15rem;
}

.hero-play-btn {
    height: 1rem;
    width: 1rem;
    background-color: var(--primary);
    padding: 0.63rem;
    border-radius: 100%;
    box-shadow: 0px 23px 47px 0px #043A533D;
}

.hero-text {
    padding: 0rem 1rem;
}

.hero-play-btn img {
    height: 1rem !important;
    width: 1rem !important;
    padding-left: 0.13rem;
}

.check-video {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.5rem;
}

.hero-play-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 1440px) {
    .hero-container {
        padding: 8rem 16rem !important;
    }

    .hero-1 {
        left: 5% !important;
    }

    .hero-2 {
        right: 5% !important;
    }
}

@media screen and (max-width: 1024px) {
    .hero-container {
        padding: 8rem 10rem !important;
    }

    .hero-1 {
        left: 1% !important;
    }

    .hero-2 {
        right: 1% !important;
    }
}

@media screen and (max-width: 1000px) {
    .hero-container {
        padding: 8rem 6rem !important;
    }

    .hero-1 {
        display: none !important;
    }

    .hero-2 {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .hero-container {
        padding: 3rem 7.5rem !important;
        display: grid !important;
        grid-template-columns: auto !important;
    }

    .headline {
        font-size: 2.25rem !important;
    }

    .subheadline {
        font-size: 1rem !important;
    }

    .hero-1 {
        display: none !important;
    }

    .hero-2 {
        display: none !important;
    }

    .hero-btns-row {
        display: grid !important;
        grid-template-columns: auto !important;
        gap: 2rem;
    }

    .temp-hero-img-wrapper {
        display: flex !important;
        margin-top: 3.75rem;
    }

    #hero {
        height: fit-content !important;
    }
}

@media screen and (max-width: 768px) {
    .hero-text {
        padding: 0 !important;
    }
}

@media screen and (max-width: 425px) {
    .hero-container {
        padding: 3rem 1.50rem !important;
        display: grid !important;
        grid-template-columns: auto !important;
    }
}

/* 
    Brand Section
*/

#brands {
    display: flex;
    justify-content: center;
}

.brands-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3.50rem;
    padding-bottom: 3.50rem;
}

.brand-text {
    color: var(--black);
    font-weight: 500;
    font-size: 1rem;
}

.google {
    width: 6rem;
    height: 2rem;
}

.atlassian {
    width: 8.5rem;
    height: 1rem;
}

.canon {
    width: 6rem;
    height: 1.25rem;
}

.walmart {
    width: 8rem;
    height: 2rem;
}

.amazon {
    width: 6rem;
    height: 2rem;
}

.brands-container-2 {
    display: none;
}

@media screen and (max-width: 768px) {
    .brands-container-1 {
        display: none !important;
    }

    .brands-container-2 {
        display: flex !important;
        flex-direction: column !important;
        gap: 1.25rem;
        padding: 3rem 1.25rem;
    }

    .brand-center {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.50rem;
    }
}

/* 
    Header Section
*/

#header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: var(--gray);
}

.header {
    padding: 2.25rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: baseline;
}

.logo {
    width: 3.75rem;
    height: 1.50rem;
}

.logo-name {
    width: 6rem;
    height: 1.25rem;
}

.menu-list {
    display: flex;
    gap: 2.50rem;
}

.menu-item {
    color: var(--dark) !important;
    font-size: 1rem !important;
    opacity: 70%;
    font-weight: 700;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.login-btn {
    background-color: var(--white) !important;
    color: var(--dark) !important;
    padding: 1rem 1.75rem;
    border-radius: 2.63rem;
    font-size: 1rem;
    opacity: 70%;
    font-weight: 700;
}

.signup-btn {
    padding: 1rem 1.25rem;
    border-radius: 2.63rem;
    font-size: 1rem;
    font-weight: 700;
}

.menu-icon-wrapper {
    display: none;
}

.menu-icon-wrapper .menu-icon {
    height: 1.50rem;
    width: 1.50rem;
}

@media screen and (max-width: 1000px) {
    #header {
        background-color: var(--white) !important;
    }

    .header {
        padding: 1.50rem 1.25rem !important;
    }

    .menu-list {
        display: none !important;
    }

    .header-btns {
        display: none !important;
    }

    .menu-icon-wrapper {
        display: block !important;
    }
}

/* 
    Video Section
*/

#video {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

.video-container {
    padding-top: 6.25rem;
    padding-left: 9.38rem;
    padding-right: 9.38rem;
}

.video-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 9.75rem;
}

.video-heading-left {
    color: var(--white);
    font-size: 3.75rem;
    line-height: 4.50rem;
    width: 46%;
}

.video-heading-left span {
    color: var(--yellow);
}

.video-heading-right {
    font-size: 1.25rem;
    color: var(--white);
    line-height: 1.88rem;
    width: 34%;
}

.video-thumbnail-container {
    position: relative;
    border-radius: 10px;
    padding: 0 9.75rem;
    padding-top: 4rem;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.play-button-container {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: var(--white);
    padding: 36px 34px 34px 40px;
    border-radius: 100%;
}

.play-button {
    height: 2.25rem;
    width: 2.25rem;
}

@media screen and (max-width: 1300px) {
    .video-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .video-heading {
        flex-direction: column;
        padding: 0 !important;
    }

    .video-heading-left {
        width: 100% !important;
    }

    .video-heading-right {
        width: 100% !important;
    }

    .video-thumbnail-container {
        padding: 0 !important;
        padding-top: 4rem !important;
    }
}

@media screen and (max-width: 425px) {
    .video-container {
        padding-top: 3.13rem !important;
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }

    .play-button-container {
        padding: 14px 14px 12px 16px !important;
    }

    .play-button {
        height: 1rem !important;
        width: 1rem !important;
    }

    .video-heading {
        gap: 1rem !important;
    }

    .video-heading-left {
        font-size: 1.88rem !important;
        line-height: 2.38rem !important;
    }

    .video-heading-right {
        font-size: 0.88rem !important;
        line-height: 1.25rem !important;
    }

    .video-thumbnail-container {
        padding-top: 2rem !important;
    }
}

/* 
    Benefits Section
*/

#benefits {
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    gap: 4.00rem;
}

.elements-left {
    max-width: 16.00rem;
}

.elements-left button {
    padding: 4px 24px 4px 24px;
    font-size: 1.13rem;
    border-radius: 6.25rem;
}

.elements-left h4 {
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--dark);
    line-height: 4.50rem;
    padding: 2.00rem 0;
}

.elements-left p {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--dark);
    line-height: 1.88rem;
}

.elements-right {
    display: flex;
    gap: 1.00rem;
}

.element-card {
    background-color: var(--gray);
    padding: 2.00rem 1.50rem;
    border-radius: 1.00rem;
    max-width: 16.50rem;
}

.element-card img {
    object-fit: contain;
    aspect-ratio: auto;
}

.element-card h6 {
    font-weight: 700;
    font-size: 1.50rem;
    line-height: 2rem;
    padding-top: 2.00rem;
}

.element-card p {
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.75rem;
    padding-top: 0.63rem;
}

.illust1 {
    width: 5.88rem;
    height: 5.25rem;
}

.illust2 {
    width: 6.63rem;
    height: 5.25rem;
}

.illust3 {
    width: 6.50rem;
    height: 6.50rem;
}