@import url(./styles/theme.css);
@import url(./styles/hero.css);
@import url(./styles/brands.css);
@import url(./styles/header.css);
@import url(./styles/video.css);
@import url(./styles/benefits.css);
@import url(./styles/numbers.css);
@import url(./styles/founder.css);
@import url(./styles/bridge.css);
@import url(./styles/testimonial.css);

main {
    display: flex;
    flex-direction: column;
}

#numbers {
    order: 1;
}

#founder {
    order: 2;
}

#bridge {
    order: 3;
}

@media screen and (max-width: 425px) {
    #bridge {
        order: 1 !important;
    }

    #numbers {
        order: 2 !important;
    }

    #founder {
        order: 3 !important;
    }
}