/* 
    Blog Section
*/

#blog {
    display: flex;
    justify-content: center;
    padding: 6.25rem 0;
    order: 5;
}

.blog-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.blog-heading h4 {
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--dark);
}

.see-all-blog {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.see-all-blog img {
    height: 1.50rem;
    width: 1.50rem;
}

.see-all-blog span {
    font-weight: 700;
    font-size: 1.13rem;
}

.blog-heading .app-name {
    color: var(--primary);
}

.blog-cards {
    display: flex;
    gap: 2rem;
    padding: 4rem 2rem;
    overflow: hidden;
}

.blog-card .blog-img {
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-card:hover {
    box-shadow: 0px 50px 80px 0px #043A5312 !important;
    background-color: var(--white);
    cursor: pointer;
}

.blog-card {
    background-color: var(--white);
    box-shadow: 0px 1px 2px 0px #00000014;
    border: 1px solid #F2F5F6;
    border-radius: 8px;
}

.blog-text {
    padding-top: 1rem;
    padding-right: 25px;
    padding-bottom: 24px;
    padding-left: 25px;
}

.blog-text h6 {
    font-weight: 400;
    font-size: 1rem;
}

.blog-text .date {
    font-weight: 700;
    padding-right: 4px;
}

.blog-text h4 {
    font-weight: 700;
    font-size: 1.50rem;
    padding-top: 1rem;
}

.blog-text p {
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.75rem;
    color: #404040;
    padding-top: 0.50rem;
}

.read-blog {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding-top: 1rem;
    font-weight: 700;
    font-size: 1.13rem;
}

.read-blog img {
    height: 1.50rem;
    width: 1.50rem;
}

#see-all-2-blog {
    display: none;
}

@media screen and (max-width: 768px) {
    .blog-heading h4 {
        font-size: 2.5rem !important;
    }

    .blog-text h6 {
        font-size: 0.8rem !important;
        min-height: 2rem !important;
    }

    .blog-text h4 {
        font-size: 1rem !important;
    }

    .blog-text p {
        font-size: 0.88rem !important;
        line-height: 1.2rem !important;
    }

    .read-blog {
        font-size: 0.8rem !important;
    }

    .read-blog img {
        height: 1rem !important;
        width: 1rem !important;
    }
}

@media screen and (max-width: 425px) {

    .blog-cards {
        flex-direction: row;
        overflow-x: hidden;
        gap: 1rem;
        padding: 2rem 1rem;
        width: 24rem;
    }

    .blog-card {
        min-width: 18.00rem !important;
    }

    .blog-card:first-child {
        margin-left: -68% !important;
    }

    #see-all-1-blog {
        display: none !important;
    }

    #see-all-2-blog {
        display: flex !important;
        justify-content: center;
    }

    .blog-heading {
        display: flex !important;
        justify-content: center !important;
    }

    .blog-heading h4 {
        font-size: 1.88rem !important;
    }

    #blog {
        padding: 3.13rem 0 !important;
    }

    #testimonial {
        padding: 3.13rem 0 !important;
    }
}