/* 
    Here to Help section
*/

#here-to-help {
    background-color: var(--gray);
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.help-container h2 {
    font-weight: 800;
    font-size: 5rem;
    text-align: center;
    color: var(--dark);
}

.help-container h3 {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    opacity: 70%;
    padding-top: 1rem;
    max-width: 44rem;
    line-height: 1.88rem;
}

.help-cards {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}

.help-card {
    padding: 1.50rem;
    border-radius: 1rem;
    background-color: var(--white);
    max-width: 22rem;
}

.help-card img {
    height: 4rem;
    width: 4rem;
}

.help-card h4 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--dark);
    padding-top: 2rem;
}

.help-card p {
    font-weight: 400;
    font-size: 1.13rem;
    padding-top: 0.94rem;
    color: #404040;
}

.send-email-btn {
    display: flex;
    align-items: center;
    gap: 0.63rem;
    padding-top: 3.75rem;
    color: var(--primary);
}

.send-email-btn img {
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 1024px) {

    #here-to-help {
        height: fit-content !important;
        padding: 2.5rem 0px !important;
    }

    .help-card {
        max-width: 16rem !important;
    }

    .help-container h2 {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 768px) {

    #here-to-help {
        background-color: var(--white) !important;
    }

    .help-container h3 {
        font-size: 1rem !important;
        line-height: 120% !important;
    }

    .help-cards {
        text-align: center !important;
        flex-direction: column !important;
    }

    .help-card {
        max-width: fit-content !important;
    }
}

@media screen and (max-width: 768px) {

    .help-cards {
        text-align: left !important;
        flex-direction: column !important;
        padding: 2rem 1.25rem !important;
    }

    .help-card {
        max-width: fit-content !important;
    }

    .help-container h3 {
        max-width: 21rem !important;
    }
}