/* 
    Testimonial Section
*/

#testimonial {
    display: flex;
    justify-content: center;
    padding: 6.25rem 0;
    background-color: var(--gray);
    order: 4;
}

.testimonial-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.testimonial-heading h4 {
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--dark);
}

.see-all {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.see-all img {
    height: 1.50rem;
    width: 1.50rem;
}

.see-all span {
    font-weight: 700;
    font-size: 1.13rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    height: 3.63rem;
    width: 3.63rem;
    border-radius: 100%;
}

.apos {
    width: 2.94rem;
}

.testimonial-cards {
    display: flex;
    gap: 2rem;
    padding: 4rem 2rem;
    overflow: hidden;
}

.testimonial-card {
    background-color: var(--white);
    padding: 1.50rem;
    border-radius: 1rem;
    min-width: 40rem;
}

.testimonial-card p {
    font-weight: 400;
    font-size: 1.50rem;
    line-height: 2rem;
    color: var(--dark);
    padding: 1.50rem 0;
}

.user-text {
    display: flex;
    flex-direction: column;
    gap: 0.31rem;
    padding-left: 0.75rem;
}

.user-text h5 {
    font-weight: 700;
    font-size: 1rem;
}

.user-text h6 {
    font-weight: 400;
    font-size: 1rem;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel img {
    cursor: pointer;
    width: 10.81rem;
}

.extra {
    display: none;
}

#carousel-1 {
    display: none;
}

#see-all-2 {
    display: none;
}

@media screen and (max-width: 1024px) {
    .testimonial-heading h4 {
        font-size: 3rem;
    }

    .testimonial-cards {
        flex-direction: row;
        overflow-x: hidden;
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .testimonial-card {
        min-width: 46% !important;
        padding: 1rem;
        scroll-snap-align: center;
    }

    .testimonial-card p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .user-info img {
        height: 3rem;
        width: 3rem;
    }

    .carousel {
        margin-top: 1rem;
    }

    .carousel img {
        width: 8rem;
    }
}

@media screen and (max-width: 768px) {
    .testimonial-card {
        min-width: 44.8% !important;
        padding: 1rem;
        scroll-snap-align: center;
    }
}

@media screen and (max-width: 425px) {
    .testimonial-cards {
        width: 24.06rem !important;
    }

    .testimonial-card {
        min-width: 17rem !important;
        padding: 1.50rem !important;
    }

    .user-info img {
        height: 2rem !important;
        width: 2rem !important;
    }

    .user-text h5 {
        font-size: 0.88rem !important;
    }

    .user-text h6 {
        font-size: 0.75rem !important;
    }

    .testimonial-card:first-child {
        margin-left: -77% !important;
    }

    .testimonial-heading h4 {
        font-size: 1.88rem !important;
        text-align: center;
        padding: 0 0.75rem !important;
    }

    #carousel-1 {
        display: block !important;
    }

    #carousel-2 {
        display: none !important;
    }

    #see-all-1 {
        display: none !important;
    }

    #see-all-2 {
        display: flex !important;
        justify-content: center !important;
    }

    .testimonial-heading {
        flex-direction: column !important;
    }
}