/* 
    Testimonial Section
*/

#testimonial {
    display: flex;
    justify-content: center;
    padding: 6.25rem 0;
    background-color: var(--gray);
    order: 4;
}

.testimonial-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.testimonial-heading h4 {
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--dark);
}

.see-all {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.see-all img {
    height: 1.50rem;
    width: 1.50rem;
}

.see-all span {
    font-weight: 700;
    font-size: 1.13rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    height: 3.63rem;
    width: 3.63rem;
    border-radius: 100%;
}

.apos {
    width: 2.94rem;
}

.testimonial-cards {
    display: flex;
    gap: 2rem;
    padding: 4rem 2rem;
    overflow: hidden;
}

.testimonial-card {
    background-color: var(--white);
    padding: 1.50rem;
    border-radius: 1rem;
    min-width: 40rem;
}

.testimonial-card p {
    font-weight: 400;
    font-size: 1.50rem;
    line-height: 2rem;
    color: var(--dark);
    padding: 1.50rem 0;
}

.user-text {
    display: flex;
    flex-direction: column;
    gap: 0.31rem;
    padding-left: 0.75rem;
}

.user-text h5 {
    font-weight: 700;
    font-size: 1rem;
}

.user-text h6 {
    font-weight: 400;
    font-size: 1rem;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel img {
    cursor: pointer;
    width: 10.81rem;
}

.extra {
    display: none;
}

#carousel-1 {
    display: none;
}

#see-all-2 {
    display: none;
}